*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#App{
  min-height: 100vh;
  min-height: 100dvh;
}

.container-fluid{
  max-width: 90%;
  padding: 0;
}

.line-below{
  position: relative;
  &::after{
    position: absolute;
    bottom: .35rem;
    left: 0;
    content: "";
    width: 100%;
    height: .15rem;
    background-color: $line-after-color;
  }
}

.left-line{
  position: relative;
  &::after{
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: .1rem;
    height: 100%;
    background-color: $line-after-color;
  }
}

.header{
  max-width: 100%;
  width: 100%;
  height: 4.5rem;
  position: sticky;
  left: 0;
  top: 0;
  padding: 0;
  z-index: 1010;

  h1{
    cursor: default;
  }

  .nav-link{
    font-size: 1.15rem;
    position: relative;

    &::after{
      content: "";
      position: absolute;
      background-color: $line-after-color;
      width: 0;
      height: .15rem;
      left: 0;
      bottom: .4rem;
      transition: .35s ease-in-out;
    }
    &:hover::after{
      width: 100%;
    }
  }

  &::after{
    content: "";
      position: absolute;
      background-color: $line-after-color;
      width: 100%;
      height: .05rem;
      bottom: .5rem;
      transition: .35s ease-in-out;
  }
}

#password{
  padding-right: 10%;
}
.password-div{
  div{
    right: .2rem;
    bottom: -.4rem;
    height: min-content;
    width: min-content;
    cursor: pointer;
    i{
      color: $dark-bg-black;
      font-size: 2.25rem;
    }
  }
}

.dark-background-black{
  background-color: $dark-bg-black !important;
}

.hide{
  display: none !important;
}